* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  font-size: 100px;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.button-mint {
  font-size: 30px;
  padding: 10px;
  border: none;
}

.button-mint:hover {
  border: 1px solid orangered;
  background-color: orange;
  color: white;
}

.mint-box {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.tokenId {
  padding: 10px;
  font-size: 30px;
}

.flex {
  display: flex;
}
